#custom_card {
    /* width: 290px;  */
    width: 80%;
    max-height: 240px;
    min-height: 240px;
    box-shadow: 0 0 8px ;
    background-color: rgb(216, 212, 212);
    border: 1px solid black;    
}

#circle_add_icon {
    color: white;
    font-size: 130px;
}

#card {
    /* width: 290px;  */
    width: 100%;
    max-height: 350px;
    min-height: 350px;
    box-shadow: 0 0 8px ;
    border: 1px solid black; 
    overflow: hidden;   
}


#bikeimg { 

    min-height: 220px;       
    max-height: 170px;
    max-width: 230px;    
}

#about_bike {
    display: inline-block;
    /* background: chartreuse; */
    width: 13em;
    height:6em;    
    text-overflow: ellipsis;
}

#cardBody {
    translate: 0 -45px 0 ;
}

#bike_modal {
    height: 400px;
    width: 500px;
}


